body{
    margin:0;
    font-family:Segoe UI,Arial,sans-serif;
    background:#f5f7fb;
    color:#333;
}

header{
    background:linear-gradient(135deg,#0d6efd,#0047ab);
    color:white;
    text-align:center;
    padding:80px 20px;
}

header h1{
    margin:0;
    font-size:52px;
}

header p{
    font-size:22px;
}

section{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    margin-bottom:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card h2{
    color:#0d6efd;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skill{
    background:#0d6efd;
    color:white;
    padding:10px 20px;
    border-radius:25px;
}

.project{
    border-left:5px solid #0d6efd;
    padding-left:20px;
    margin-top:25px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#003d99;
}

footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:50px;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 70px;
background:white;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 2px 12px rgba(0,0,0,.08);
}

.logo{
font-size:24px;
font-weight:bold;
color:#0d6efd;
}

nav ul{
display:flex;
list-style:none;
gap:35px;
margin:0;
padding:0;
}

nav a{
text-decoration:none;
color:#333;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#0d6efd;
}
.hero{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1100px;
margin:auto;
padding:60px 20px;
gap:40px;
}

.hero-text{
flex:1;
}

.hero-text h1{
font-size:52px;
margin-bottom:10px;
}

.hero-text h2{
font-size:28px;
color:#0d6efd;
margin-bottom:20px;
}

.hero-text p{
font-size:18px;
line-height:1.8;
margin-bottom:30px;
}

.hero-image{
flex:1;
text-align:center;
}

.hero-image img{
width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.buttons{
display:flex;
gap:15px;
}

.btn,
.btn-outline{
padding:12px 28px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}

.btn{
background:#0d6efd;
color:white;
}

.btn-outline{
border:2px solid #0d6efd;
color:#0d6efd;
}
